{%  extends './base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/home.css">
{% endblock %}
{% block content %} 



<main class="main">
	<!--=============== HOME ===============-->
	<section class="home section" id="home">
		<div class="home__container container grid">
			<div>
				<img src="../static/images/bannerimg.png" alt="" class="home__img">
			</div>

			<div class="home__data">
				<div class="home__header">
					<h1 class="home__title">radio</h1>
					<h2 class="home__subtitle">sensors</h2>
				</div>

				<div class="home__footer">
					<h3 class="home__title-description">Overview</h3>
					<p class="home__description">Most Advanced Smart Temperature Sensor for industrial safty
					</p>
					<a href="/about" class="button button--flex">
						<span class="button--flex">
							<i class="ri-shopping-bag-line button__icon"></i></i> About
						</span>
						<span class="home__price">
							<iconify-icon icon="material-symbols:arrow-back-ios" style="color: white;" rotate="180deg"></iconify-icon>
						</span>
					</a>
				</div>
			</div>
		</div>
	</section>





	<!--=============== CASE 2 ===============-->
	<section class="case section grid section_case" id="case">
		<h2 class="section__title section__title-gradient">Network
		</h2>

	
		<div class="case__container container grid">
			<div>
				<img src="../static/images/bannerimg.png" alt="" class="case__img">
			</div>

			<div class="case__data">
				<p class="case__description">With a comfortable and adaptable case so that you can
					store it whenever you want, and keep your durability forever.
				</p>
				<a href="/products/network" class="button button--flex">
					<span class="button--flex">
						<i class="ri-shopping-bag-line button__icon"></i></i>  See more
					</span>
					<span class="home__price">
						<iconify-icon icon="material-symbols:arrow-back-ios" style="color: white;" rotate="180deg"></iconify-icon>
					</span>
				</a>
			</div>
		</div>
		
	</section>


	<!--=============== CASE 3 ===============-->
	<section class="case section grid section_case" id="case">
		<h2 class="section__title section__title-gradient">Temperature monitoring
		</h2>

	
		<div class="case__container container grid">
			<div>
				<img src="../static/images/bannerimg.png" alt="" class="case__img">
			</div>

			<div class="case__data">
				<p class="case__description">With a comfortable and adaptable case so that you can
					store it whenever you want, and keep your durability forever.
				</p>
				<a href="/Temperature_monitoring" class="button button--flex">
					<span class="button--flex">
						<i class="ri-shopping-bag-line button__icon"></i></i>  See more
					</span>
					<span class="home__price">
						<iconify-icon icon="material-symbols:arrow-back-ios" style="color: white;" rotate="180deg"></iconify-icon>
					</span>
				</a>
			</div>
		</div>
		
	</section>



	<section class="specs section grid" id="specs">
		<h2 class="section__title section__title-gradient">usecase</h2>

		<div class="specs__container container grid">
			<div class="specs__content grid">
				<div class="specs__data">
					<i class="ri-bluetooth-line specs__icon"></i>
					<h3 class="specs__title">IoT environment
					</h3>
					<span class="specs__subtitle">Various network  <br> protocols supported</span>
				</div>

				<div class="specs__data">
					<i class="ri-battery-charge-line specs__icon"></i>
					<h3 class="specs__title">Remote control </h3>
					<span class="specs__subtitle">Free monitoring <br> software to choose from </span>
				</div>

				<div class="specs__data">
					<i class="ri-plug-line specs__icon"></i>
					<h3 class="specs__title">Load</h3>
					<span class="specs__subtitle">Fast charge 4.2-AAC</span>
				</div>

				<div class="specs__data">
					<i class="ri-mic-line specs__icon"></i>
					<h3 class="specs__title">Microphone</h3>
					<span class="specs__subtitle">Supports Apple Siri <br> and Google</span>
					
				</div>
				<a href="/usecase/food" class="button button--flex" style="width: max-content;">
					<span class="button--flex">
						<i class="ri-shopping-bag-line button__icon"></i></i>  See more
					</span>
					<span class="home__price">
						<iconify-icon icon="material-symbols:arrow-back-ios" style="color: white;" rotate="180deg"></iconify-icon>
					</span>
				</a>
			
			</div>

			<div>
				<img src="../static/images/GOODS1_162202100220210527115952.png" alt="" class="specs__img">
			</div>
			
		</div>
		
	</section>

	

</main>


{% endblock %}
