{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/products.css">
{% endblock %}
{% block content %}
<section class="section">
  <div class="product-container">
   {% for n in Network %}
 <a href="{% url 'productdetails' n.id %} ">

  <div class="product-card">

    <img src="{{n.product_img1.url}}" alt="Product Name" class="product-image">
    <h3 class="product-name">{{n.title}}</h3>
    <p class="product-description">{{n.short_description}} dvfdfvsdfvsdrvv</p>
    <div class="product-price">{{n.tags}}</div>

  </div>
</a>
  

  <a href="{% url 'productdetails' n.id %} ">

  <div class="product-card">
      <img src="{{n.product_img1.url}}" alt="Product Name" class="product-image">
      <h3 class="product-name">{{n.title}}</h3>
      <p class="product-description">{{n.short_description}} dvfdfvsdfvsdrvv</p>
      <div class="product-price">{{n.tags}}</div>
  
    </div>
   </a>

  {% endfor %}
      
  </div>
</section>

      
{% endblock %}